*/ {
    border: grey 1px solid;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #5bb85d;
    color: white;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

.footer {
    color: #5bb85d;
}

section > h2, figcaption {
    color: #5bb85d;
}

#error-first, #error-last, #error-zip, #error-phone, #error-email, #error-check {
    color: red;
    background-color: rgba(255, 0, 0, 0.2)
}

.form-check > label {
    font-size: .7em;
    display: inline;
}

#img-wrapper {
   transform: translateY(10%);
}

