*/ {
    outline: 1px solid lightgrey;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Work+Sans:200,400,700");
  
  h1 {
    font-family: Work Sans, sans-serif;
    font-weight: 700;
  }
  h2 {
    font-family: Work Sans, sans-serif;
    font-weight: 200;
  }
  h3 {
    font-family: Work Sans, sans-serif;
    font-weight: 400;
  }
  h4 {
    font-family: Work Sans, sans-serif;
    font-weight: 400;
  }
  p {
    font-family: Work Sans, sans-serif;
    font-weight: 200;
  }
  
  html {
    background: url(https://source.unsplash.com/80sv993lUKI) no-repeat center
      center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  body {
    background: none;
    text-align: center;
    padding-top: 70px;
    min-width: 250px;
    color: snow;
  }

  .container {
    padding: 5px;
    margin: 0 auto;
   min-width: 250px;
   max-width: 400px;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid rgb(100, 100, 100);
  }

  .col-12 {
    text-align: center;
  }
  .col-12>label {
    display: block;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
  }
  .col-12>input,
  .col-12>button {
    display: inline;
    margin: 0 auto;
  }
  .col-12>button {
    border: 1px solid rgb(1, 129, 233);
    padding: 5px 15px;
    background-color: rgba(1, 129, 233, 0.8);
    border-radius: 5px;
    margin-top: .5em;
  }
  .col-12>input {
    border: 1px solid rgb(255,255,255);
    padding: 5px 15px;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 5px;
    margin-top: .5em;
  }
  
  #temp:hover {
    color: red;
  }
  
  #wind:hover {
    color: red;
  }
  
  #weatherData {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row-reverse;
  }
  
  #weatherIcon {
    flex:1 0 0;
  }
  
  #conditions {
    display:flex;
    flex-direction:column;
    flex:2 0 0;
    justify-content:flex-start;
    align-items:flex-start;
  }
  
  
  